.forkme {
  position: absolute; top: 0; right: 0; border: 0;
}

.footer p {
  text-transform: lowercase;
}
.footer p a {
  color: inherit;
}
.footer .name {
  word-spacing: -0.3em;
}
.footer .name-first {
  opacity: 0.7;
}

@media (prefers-color-scheme: light) {
  .container .jumbotron {
    background-color: #1e1e1e;
    color: #5F5F5F;
  }

  .highlight pre {
    background-color: #D7E3FC;
  }
}

@media (prefers-color-scheme: dark) {
  .container, .jumbotron, body {
    background-color: #1a1919;
    color: #bdc1c6;
  }

  .highlight pre, pre, code {
    background-color: #000;
    color: rgb(209, 209, 209);
    border: #000000;
  }
}
