.footer p {
  text-transform: lowercase;
}
.footer p a {
  color: inherit;
}
.footer .name {
  word-spacing: -0.3em;
}
.footer .name-first {
  opacity: 0.7;
}
.container .jumbotron {
  background-color: #fff;
  color: #5F5F5F;
}
.highlight pre {
  background-color: #D7E3FC;
}
