---
# Version 1.0
name: Generate Updates for Packages and Their Dependencies.
on:
  workflow_dispatch:
    inputs:
      version_cmd_input:
        description: "Packages to check for dependency tree updates."
        required: true
  workflow_call:
    inputs:
      version_cmd_input:
        type: string
        required: true
env:
  GH_TOKEN: ${{ secrets.CREW_PR_TOKEN }}  # setting GH_TOKEN for the entire workflow
permissions:                    # Global permissions configuration starts here
  actions: write
  contents: write
  packages: write
  pull-requests: write          # 'write' access to pull requests
jobs:
  dependencies:
    if: ${{ github.repository_owner == 'chromebrew' }}
    runs-on: ubuntu-24.04
    outputs:
      packages: ${{ steps.get-dependencies.outputs.packages }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
      - name: Install bin/crew gem dependencies
        run: |
          # Install required gems.
          require_gem () {
            for g in "$@"
            do
              install_gem=0
              # Check to see if the gem is recorded as installed AND if there are
              # gem contents before assuming that the gem is installed.
              if gem list --no-update-sources -l -e "$g" 2>/dev/null | grep -q "$g"; then
                :
              else
                install_gem=1
              fi
              # shellcheck disable=SC2143
              if [[ $(gem contents "$g" 2>/dev/null | grep 'Unable to find gem') ]] || [[ "$(gem contents "$g" 2>/dev/null | wc -l)" == "0" ]]; then
                install_gem=1
              else
                :
              fi
             [[ $install_gem == '1' ]] && gem install -N "$g"
            done
          }
          require_gem regexp_parser dagwood ruby-libversion highline ptools cgi rubocop rubocop-chromebrew
          ruby bin/crew version
      - name: Get dependencies of core and buildessential packages
        id: get-dependencies
        run: echo "packages=$(ruby bin/crew deps ${{ inputs.version_cmd_input }} | sort | uniq | xargs | sed 's/Creating device.json.//')" >> "$GITHUB_OUTPUT"
  update-check:
    needs: dependencies
    if: ${{ github.repository_owner == 'chromebrew' }}
    uses: ./.github/workflows/Updater-on-Demand.yml
    secrets: inherit
    with:
      version_cmd_input: ${{ needs.dependencies.outputs.packages }}
