---
name: Generate Repology JSON
on:
  schedule:
    - cron: '0 0 * * 0'  # Weekly
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.1'
      - name: Configure git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - name: Generate repology.json
        env:
          CREW_KERNEL_VERSION: 5.1
        run: |
          ruby -Ctools json.rb
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          add-paths: "tools/repology.json"
          title: "Update Repology JSON"
          body: "Automatic PR to update tools/repology.json"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit-message: "Update Repology JSON"
          delete-branch: true
