---
# Version 1.1
name: Generate Updates PRs on Demand
run-name: Generating Updates PRs on Demand using ${{ inputs.version_cmd_input }}
on:
  workflow_dispatch:
    inputs:
      version_cmd_input:
        description: "Input to version.rb command"
        required: true
  workflow_call:
    inputs:
      version_cmd_input:
        type: string
        required: true
env:
  GH_TOKEN: ${{ secrets.CREW_PR_TOKEN }}  # setting GH_TOKEN for the entire workflow
permissions:                    # Global permissions configuration starts here
  actions: write
  contents: write
  packages: write
  pull-requests: write          # 'write' access to pull requests
jobs:
  update-check:
    if: ${{ github.repository_owner == 'chromebrew' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
      - name: Install Python pip
        run: sudo apt install -y python3-pip
      - name: Setup Git.
        id: git-setup
        run: |
          git config --global push.autoSetupRemote true
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Check for updates.
        id: update-checks
        run: |
          set -x
          export CI=true
          git pull
          git stash drop || true
          echo "pwd is $(pwd)"
          # Install required gems.
          ruby -e "require_relative 'lib/require_gem' ; require_gem 'regexp_parser' ; require_gem 'dagwood' ; require_gem 'ruby-libversion', 'ruby_libversion' ; require_gem 'highline' ; require_gem 'ptools'; require_gem 'cgi' ;  require_gem 'rubocop' ; require_gem 'rubocop-chromebrew' ; puts 'Required gems installed.'.orange"
          # Force creation of temporary device.json.
          LD_LIBRARY_PATH=/usr/local/lib ruby bin/crew version
          # Force creation of temporary device.json.
          # Run Update Checks...
          # LD_LIBRARY_PATH=/usr/local/lib ruby tools/version.rb -u -v "${{ inputs.version_cmd_input }}"
          UPDATABLE_PACKAGES="$(ruby tools/version.rb -j "${{ inputs.version_cmd_input }}" | jq -r '.[]|select(.updatable | contains("Yes"))|select(.update_status | contains("Outdated"))|.package' | xargs)"
          for i in $UPDATABLE_PACKAGES
          do
            git checkout -f master
          # for i in $(git status --porcelain | awk '{print $2}' | grep ^packages/)
          # do
          #  git stash pop || true
            ruby tools/version.rb -v -u $i
            pkg=${i%.rb}
            pkg=${pkg#packages/}
            # The updated package version will be the one in the package file.
            pkg_version="$(LD_LIBRARY_PATH=/usr/local/lib ruby bin/crew version ${pkg})"
            if [[ -z "$pkg_version" ]]; then
              branch_tag="$(date -u +%F-%H-%M)"
            else
              branch_tag="${pkg_version}"
            fi
            if [ ${{ github.ref_name }} == 'master' ]; then
              export updater_branch="updater-${pkg}-${branch_tag}"
            else
              export updater_branch="${{ github.ref_name }}"
            fi
            echo "Updater branch: ${updater_branch}"
            if [[ "$(git branch -a --list ${updater_branch} | wc -l)" != '0' ]]; then
              echo "Attempting rebase and build of existing ${updater_branch} branch."
              if gh pr update-branch --rebase; then
                gh workflow -R chromebrew/chromebrew run Build.yml -f branch="${updater_branch}" -f pr_label=updater
                continue
              else
                continue
              fi
              # echo "Updating & rebasing existing ${updater_branch} branch."
              # git stash || true
              # git config advice.detachedHead false
              # git checkout remotes/origin/"${updater_branch}"
              # git pull origin "${updater_branch}"
              # Let build workflow handle rebasing.
              # git pull --rebase origin master; git push origin "HEAD:${updater_branch}" -f ; git pull origin "${updater_branch}"
              # git stash pop || true
            else
              git checkout -b "${updater_branch}"
              echo "${updater_branch} branch created."
              git add packages/${i}.rb
            fi
            # If there are no changes, the next step will fail, but that
            # is ok.
            git commit -m "${pkg} -> ${pkg_version} in ${updater_branch}" || true
            git push origin "HEAD:${updater_branch}" -f || true
            gh workflow -R chromebrew/chromebrew run Build.yml -f branch="${updater_branch}" -f pr_label=updater
            # git stash || true
            git checkout -f master
          done
