---
name: YAMLLint
on: workflow_call
env:
   REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.CREW_PR_TOKEN }}
   GH_TOKEN: ${{ secrets.CREW_PR_TOKEN }}
jobs:
  yamllint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
       - uses: actions/checkout@v4
       - name: YAMLLint
         uses: reviewdog/action-yamllint@v1
         with:
           fail_level: any
           reporter: github-pr-review
